.row-fluid
  .span3
    %h3 Weather
    .well.weather
      .row-fluid
        .span4
          %span.icon
        .span8
          %p.location
          %h4.temperature
    %h3 Pictures
    .well
      %p Pictures!
  .span9
    %h3 Bart
    %table.table.schedule
      %thead
      %tbody